body {
    text-align: center;
}

.container {
    display: flex;
    width: 650px;
    height: 650px;
    margin: 0 auto;
    flex-direction: column;
}

.reset {
    display: block;
    margin: 0 auto 15px;
}

.row {
    display: flex;
    flex-grow: 1;
    margin: 1px;
    align-items: center;
    justify-content: center;
}

.cell {
    background-color: lightgray;
    flex-grow: 1;
    height: 100%;
    margin: 1px;
}

.cellHovering {
    background-color: black;
}