*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

.change-size {
  display: block;
  padding: 5px 10px;
  margin: 0 auto;

}

.container {
  display: flex;
  width: 700px;
  height: 700px;
  gap: 1px;
  flex-wrap: wrap;
  align-content: center;
}

.row {
  display: flex;
  margin: 0 auto;
  gap: 1px;
}
.square {
  background-color: #ccc;
}

.hover {
  background-color: #777;
}