*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 1080px;
  height: 100%;
  gap: 5px;
  flex-wrap: wrap;
  align-content: center;
}

.row {
  display: flex;
  margin: 0 auto;
  gap: 5px;
}
.square {
  width: 32px;
  height: 32px;
  background-color: #ccc;
}

.hover {
  background-color: #777;
}